.static_pages
  %h1 Self Massage Techniques
  .body
    %p
      Everyday life has left many of us out of touch with our bodies. Fulfilling our responsibilities often requires working for long hours on end, sometimes without healthy food and adequate exercise, which leaves our bodies undernourished and neglected. This lack of awareness around our bodies can lead to a number of bad habits, including difficulty moderating the food we eat, using repetitive motions with poor ergonomics that ultimately leave us with injuries, and sometimes even a decrease of pleasure in the activities we find enjoyable.
    %p
      = image_tag 'static_pages/self_massage.jpg'
    %p
      The road back to bodily awareness isn't a simple one, and will be unique for every person, but for some people, massage or self massage could be a good place to start. Touch is the first way we communicate with the world as babies, and remains a primal trigger throughout our entire lives. Learning to re-appreciate touch can help us re learn what our physical needs are, and possibly help us find healthier ways to address them than some of our old habits.
    %p
      To start with, we're going to work through a quick facial massage that can be done anywhere. Close your eyes, and place your hands lightly on your temples. Notice the sensation of your fingertips - are they warm or cold? Dry, or moist? Apply a light pressure, and work in a circular motion. How does that feel? Is it comforting, or relaxing? Or, perhaps, is it a little uncomfortable in some way? If it feels uncomfortable, is there a way you could adjust the pressure, or the stroke so that it is more enjoyable? Sit here for a minute, and play around with it. Find what you like, and what works for you.
    %p
      When you feel ready, move your hands so that your thumbs are near the inside corners of your eye, just below your eyebrow. You should feel a bone here that you can lightly press your thumbs into. Hold that pressure for a few seconds - and again, how does it feel? Is it comfortable? If not, adjust the pressure and location until you find something that works for you.
    %p
      Next, move your thumbs slightly up so they are resting on your eyebrows. Apply light pressure here, then move them to about half an inch along closer to the outside of your eyebrows. Keep moving them, slowly, until you have covered the entire eyebrow. 
    %p
      Finally, take your fingers and run them into your hair, so your fingertips are spread apart an pressing into your scalp. Maintaining a comfortable pressure, move your hands in a circular motion moving around your scalp. The skin of your scalp may move a little bit along with your hair.
    %p
      When you are finished, take a moment to relax before getting on with your day. Next time you're stressed out, perhaps you can try this routine to see if it helps you find your center? Maybe you could even experiment with replacing habits you don't like, such as biting your nails. But, if it doesn't work for you, that's fine too. The most important thing is to find what works for you, in your body.
  .footer
    Note: This page has been produced to gauge interest in self massage. If you'd be interestd in learning more about this, please email emma@placidity.com
