.articles_index
  - @articles.each do |article|
    = link_to article_path(article) do
      .article_row
        - if article.article_picture.present?
          = image_tag article.article_picture.image, class: "article_image"
        .title
          = article.title
        .description
          = article.description
