.all_clips{style: "margin-top: 50px;"}
  
  .new_clip
    = link_to "Add new sound clip", new_admin_sound_clip_path
  %h2 Uploaded Sound Clips:

  - @sound_clips.each do |sound_clip|
    .clip_container{syle: "width: 100%;"}
      .name{style: "width: 100%; clear: left;"}
        = sound_clip.name
      .clip{style: "float: left;"}
        %audio{controls: true}
          %source{src: sound_clip.wav.url}
      = link_to "Edit", edit_admin_sound_clip_path(sound_clip.id)
      = button_to "Delete", [:admin, sound_clip], method: :delete, onclick: "return confirm('Delete this clip?')"
