.video.jcarousel-container.jcarousel-container-horizontal
  .jcarousel-clip
    %ul.carousel.jcarousel-list
      %li.jcarousel-item-1
        %iframe{allowscriptaccess: "always", allowFullScreen: "true", width: "560", height:"315", src: "http://www.youtube.com/embed/zmG8JYiYvgg", frameborder: "0"}
      %li.jcarousel-item-2
        %iframe{allowscriptaccess: "always", allowFullScreen: "true", width: "560", height:"315", src: "http://www.youtube.com/embed/LIJAsKCLTqc", frameborder: "0"}
      %li.jcarousel-item-3
        %iframe{allowscriptaccess: "always", allowFullScreen: "true", width: "560", height:"315", src: "http://www.youtube.com/embed/K18fDh7nAaw", frameborder: "0"}
  .jcarousel-prev.tk-trajan-sans-pro
    PREV
  .jcarousel-next.tk-trajan-sans-pro
    NEXT
