body
  background-repeat: no-repeat

.content
  width: 960px
  margin: auto
  height: 600px
#header
  margin-bottom: 10px
  margin-top: 10px
  height: 80px
  padding: 10px
  .logo
    float: left
    .name
      margin-left: -6px
      font-size: 55px
      a
        text-decoration: none
    .subtext
      float: left
      margin-top: -20px
      margin-left: 1px
      font-size: 16px
      color: black

.forrest
  background-color: white
  color: green
  a
    color: green
  .content
    background-color: rgba(255, 255, 255, 0.8)

.menu
  clear: left
  margin-top: 95px
  a
    text-decoration: none
    color: green
    font-size: 24px
    padding: 0px 5px
    border: 1px solid green
    margin-right: 3px
    &:hover, .selected
      color: white
      background-color: green

.hidden
  display: none

#footer
  float: right
  color: black
  margin-top: 150px
  padding-bottom: 20px
  .facebook
    float: right
    text-align: right
    font-size: 20px
    margin: 0px
    a
      font-size: 22px
      color: green
      text-decoration: none
      &:hover
        text-decoration: underline
  .copyright
    font-size: 11px
    text-align: right
