body
  background-repeat: no-repeat

$placidity-green: #003300

.content
  width: 960px
  margin: 100px auto
  min-height: 600px
  margin-bottom: 500px

#header
  background-color: $placidity-green
  z-index: 10
  margin: 0px
  height: 30px
  width: 100%
  opacity: 0.9
  padding: 10px
  top: 0px
  left: 0px
  position: fixed
  .logo
    float: left
    margin-top: -5px
    a
      color: white
      text-decoration: none
    .name
      font-size: 30px
#shopping_cart
  height: 24px
  width: 100%
  border-bottom: 1px solid black
  top: 50px
  left: 0px
  padding: 4px 0px 0px 0px
  position: fixed
  font-family: Helvetica, sans-serif
  font-size: 16px
  background-color: white
  opacity: 0.9
  .shopping_cart_link
    float: right
    margin-right: 10px
    a 
      color: black
      letter-spacing: 1px
      font-weight: 100
      text-decoration: none
      &:hover
        text-decoration: underline

.forrest
  background-color: white
  a
    color: $placidity-green
  .content
    background-color: rgba(255, 255, 255, 0.8)

.menu
  position: relative
  font-family: Helvetica, sans-serif
  top: 10px
  right: 10px
  float: right
  a
    text-decoration: none
    font-weight: 100
    letter-spacing: 1px
    color: white
    font-size: 16px
    padding: 0px 5px
    margin-right: 3px
    &:hover, .selected
      text-decoration: underline
  .dropdown
    float: left
    border: 1px solid transparent
    .options
      display: none
    &:hover
      .options
        border: 1px solid black
        position: absolute
        top: 30px
        left: 0
        display: block
        background-color: white
        .blocker
          background-color: white
          height: 2px
          margin-top: -2px
        a
          clear: left
  .dropdown.full
    &:hover
      border: 1px solid black
      border-bottom: 1px solid white

.hidden
  display: none

#footer
  float: right
  background-color: $placidity-green
  color: white
  width: 100%
  position: absolute
  left: 0px
  padding: 5px
  font-family: Helvetica, sans-serif
  .facebook
    float: right
    text-align: right
    font-size: 16px
    letter-spacing: 1px
    font-weight: 100
    margin-right: 20px
    a
      font-size: 22px
      color: white
      font-weight: 500
      letter-spacing: 2px
      text-decoration: none
      &:hover
        text-decoration: underline
  .copyright
    float: right
    clear: right
    font-size: 11px
    margin-top: 5px
    margin-right: 20px
