@import "base"
$text-green: #007700

.marketplace, .checkout
  font-family: Helvetica, sans-serif
  h2
    font-size: 30px
    font-weight: 100
    letter-spacing: 3px
  .product
    width: 300px
    font-weight: 100
    .image
      img
        width: 300px
    .name
      font-weight: 500
      letter-spacing: 1px
      font-size: 18px
    .price
      font-style: italic
  .total
    margin-top: 15px

.product_list
  .product_column
    float: left
    width: 320px
  .product 
    width: 290px
    border: 1px solid #eee
    padding: 5px
    margin-bottom: 20px
    float: left
    .image
      img
        padding: 10px
        width: 270px
    .name
      padding: 0px 10px
    .description
      padding: 10px
    .price
      padding: 5px 10px 0px
      float: left
      font-size: 18px
    .cart_button
      float: right
      margin-right: 10px
      border: none
      background-color: transparent
      font-family: Helvetica, sans-serif
      font-size: 18px
      color: $text-green
      cursor: pointer
      &:hover
        text-decoration: underline
        
