.main_video
  padding: 30px 10px

.video
  width: 940px
  margin: 20px auto
  overflow: hidden

.jcarousel-list
  li
    img
      margin-right: 10px
      width: 180px
      cursor: pointer
      &:hover
        opacity: 0.6
    &.last
      img
        margin-right: 0px

.jcarousel-prev
  font-size: 20px
  float: left
  cursor: pointer

.jcarousel-next
  font-size: 20px
  float: right
  cursor: pointer
