@import "compass/css3"
@import "mixins"

.main_video
  padding: 30px 10px 10px
  &:hover
    .video_overlay
      display: block

.video_overlay
  position: relative
  padding: 0px
  display: none
  width: 100%
  height: 50px
  margin-top: -50px
  background-color: rgba(0, 0, 0, 0.4)
  z-index: 1
  .video_loop
    margin: 0px 30px
  .loop_select
    float: left
    background-color: white
    color: black
    font-size: 20px
    padding: 5px 15px
    margin: 8px 10px
    cursor: pointer
    font-family: Helvetica, sans-serif
    +border-radius(4px)
  .play_pause, .modify
    float: left
    cursor: pointer
    font-family: Helvetica, sans-serif
    font-size: 20px 
    margin: 13px 10px 13px 100px
    display: inline-block
    color: white
    .play
      float: left
      +triangleRight(30px, white)
      +scale(1.8, 1)
    .pause
      float: left
      .bar_one, .bar_three
        background-color: white
        width: 7px
      .bar_two
        width: 5px
      .bar_one, .bar_three, .bar_two
        float: left
  .modify
    padding-top: 4px
video 
  z-index: 0

.video_selector
  width: 940px
  margin: auto
  overflow: hidden

.jcarousel-list
  li
    img
      margin-right: 10px
      width: 180px
      cursor: pointer
      &:hover
        opacity: 0.6
    &.last
      img
        margin-right: 0px

.jcarousel-prev
  font-size: 20px
  float: left
  cursor: pointer

.jcarousel-next
  font-size: 20px
  float: right
  cursor: pointer
