.marketplace
  %h2
    Marketplace
  .product_list
    - @product_matrix.each do |product_column|
      .product_column
        - product_column.each do |product|
          = render partial: "product", locals: { product: product }
