#footer
  .facebook
    Questions? Probems? Feedback? Ask us on 
    = link_to "Facebook", "http://facebook.com/placiditydotcom"
  .copyright
    Copyright Three Tuns Productions LLC,  2013 - All Rights Reserved
