#header
  .logo
    .name
      = link_to root_path do
        Placidity

  .menu
    .dropdown
      = link_to "Relaxotron", zones_path
    .dropdown
      = link_to "Articles", articles_path
    .dropdown
      = link_to "Marketplace", marketplace_path
